/* Menu */

ul.menu > li > .toggle + a{
    display: none;
}

ul.menu1:hover > li:not(:hover) {
    opacity: 0.5;
}

ul.menu {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 1px;
    width: 100vw;
    border-top: solid blue 4px;
    text-align: left;
}

.toggle, [id^=drop] {
    display: none;
}

ul.menu1 > li {
    position: relative;
    display: inline-block;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 15px;
    font-family: "Roboto", sans-serif;
    background-color: #6495ED;
}

#apropos {
    background-color: #FFA500;
}

#apropos_sous_menu {
    background-color: #FFA500;
}

.AutresTD {
    background-color: #6495ED;
}

ul.menu > li > ul.menu1 > li > a {
    font-variant: small-caps;
    color: black;
    text-decoration: none;
}

ul.menu > li > ul.menu1 > li > a:hover {
    font-variant: small-caps;
    color: #FFD700;
}

/* Menu déroulant */

ul.menu > li > ul.menu1 > li > ul.menu2 {
    position: absolute;
    display: none;
    width: auto;
    top: 105%;
    left: 0;
}


ul.menu2 > li {
    display: block;
    margin: 10px;
    padding: 0;
    white-space: nowrap;
}

ul.menu2 > li > a {
    max-width: 100%;
    text-decoration: none;
    font-variant: small-caps;
    align-items: center;
    justify-content: center;
    padding: 3px;
    margin: 10px;
    color: black;
}

ul.menu2 > li > a:hover {
    color: white;
    background: rgb(4, 0, 139);
    border-radius: 10px;
}


@media screen and (min-width : 700px){
    ul.menu > li > ul.menu1 > li:hover > ul.menu2 {
        display: block;
        list-style-type: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 10px;
    }
}

/*Responsive Menu*/
@media screen and (max-width : 700px){

    /* Changement de la taille et de la position de l'icone */
    #iconeMenu {
        margin: 0;
        width: 10%;
        height: auto;
    }

    /* dès que le label est check on rotate de 90 degrès l'image */
    #iconeMenu [id=drop-0]:checked {
        transition: .5s ease;
        transform: rotate(90deg);
    }

    /* dès que le label n'est plus check on rotate de 180 degrès l'image */
    #iconeMenu.active2 {
        transition: .5s ease;
        transform: rotate(180deg);
    }

    /* Apparition du menu Home */
    ul.menu > li {
        position: relative;
        display: block;
        padding: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 15px;
        font-family: "Roboto", sans-serif;
    }

    /* On cache les menu1 et sous menus */
    ul.menu1 {
        height: 0;
        overflow: hidden;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    /* On cache la barre de navigation par défaut */
    label.toggle + a,
    ul.menu {
        display: none;
    }

    /* On modifie le label toggle pour cacher les cases a cocher */
    label.toggle {
        display: block;
        text-decoration:none;
        border:none;
    }

    /* On affiche le menu1 quand le label a été cliqué */
    ul.menu > li > [id^=drop]:checked ~ ul.menu1 {
        height: auto;
        margin-top: 10px;
        display: block;
    }

    /* On affiche le menu2 quand le label a été cliqué */
    ul.menu1 > li > [id^=drop]:checked + ul.menu2 {
        max-width: 100%;
        position: static;
        display: block;
    }

    /* Menu ul apparition vertical*/
    ul.menu {
        max-width: 100%;
        position: static;
        display: block;
    }

    /* Espacement des menus */
    ul.menu1 > li {
        margin-bottom: 1px;
    }

    /* Tous les menus prennent la taille de la largeur */
    ul.menu1 > li{
        width: 100%;
    }

    /* Sous Menu */
    ul.menu1 > li > ul.menu2 {
        position: static;
        display: none;
        width: auto;
        left: 0;
    }

    ul.menu1 > li > ul.menu2 > li > a {
        width: auto;
        min-width: 100px;
        padding: 0 20px;
    }

    ul.menu2 > li {
        display: block;
        z-index: 1;
    }

    ul.menu2 > li > a {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        margin: 10px;
    }
}